<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <title>Quiz – pytania bez ściemy</title>
    <style type="text/css">
        #menu li { display: inline; }
        .info { color: blue; font-weight: bold; }
    </style>
</head>

<body>
    
    <ul id="menu">
        <li><a href="{{ url_for('index') }}">Strona główna</a></li>
        <li><a href="{{ url_for('lista') }}">Lista pytań</a></li>
        <li><a href="{{ url_for('quiz') }}">Quiz</a></li>
        <li><a href="#">Dodaj pytanie</a></li>
    </ul>
    
    <h1>Quiz – dla odważnych</h1>

    <div id="komunikaty">
        {% with komunikaty = get_flashed_messages(with_categories=true) %}
        {% if komunikaty %}
            {% for kategoria, komunikat in komunikaty %}
            <p class="{{ kategoria }}">{{ komunikat }}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    
</body>

</html>
